.xl-4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -4%;
}

.lg-1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

.md-4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
}