@import "../../styles/scss/button.scss";

.header-container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title {
  color: $primary-color;
}
